@model MenuVM
@{
	ViewData["Title"] = "Menu";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-section mt-100 mb-100">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="product-filters">
					<ul>
						<li class="active" data-filter="*">All</li>

						@foreach(var item in Model.Categories){
						<li data-filter=".@item.Name">@item.Name</li>
						}
					</ul>
				</div>
			</div>
		</div>

		<div class="row product-lists">
			@foreach (var mitem in Model.MenuItems)
			{
				<div class="col-lg-3 col-md-6 text-center @mitem.CategoryName">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="~/Files/menuItem/@mitem.ImageUrl" alt=""></a>
						</div>
						<h3>@mitem.Name</h3>
						<p>@mitem.Description</p>
						<p class="product-price">@mitem.Price$ </p>
						<a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@mitem.Id" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
			}
		</div>

		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="pagination-wrap">
					<ul>
						<li><a href="#">Prev</a></li>
						<li><a href="#">1</a></li>
						<li><a class="active" href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end products -->
