@model IEnumerable<MenuItemVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pcoded-inner-content" pt-0>
	<div class="main-body">
		<div class="page-wrapper">
			<div class="page-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="card">

							<div class="card-header">
							</div>

							<div class="card-block">
								<div class="row">
									<div class="col-12 mobile-inputs">
										<h4 class="sub-title"><a asp-controller="MenuItem" asp-action="Create" class="btn btn-success">Add MenuItem</a></h4>
										<div class="card-block tabel-border-style">
											<div class="table-responsive">
												<table class="table data-table-export table-hover nowrap">
													<thead>
														<tr>
															<th class="table-plus">Name</th>
															<th>Image</th>
															<th>CreateOfDate</th>
															<th>Category</th>
															<th>Price</th>
															<th>IsActive</th>
															<th class="datatable-nosort">Action</th>
														</tr>
													</thead>

													<tbody>
													

															@foreach (var item in Model)
															{
																<tr>
																	<td class="table-plus">@Html.DisplayFor(C => item.Name)</td>
																	<td><img src="~/Files/MenuItem/@item.ImageUrl" width="40" alt="No Image" /></td>
																	<td>@item.CreatedAt</td>
																	<td>@item.CategoryName</td>
																	<td>@Html.DisplayFor(P => item.Price)</td>
																	<td>
																		@if (item.IsDeleted == false)
																		{
																			<label id="lblIsActive" class="badge badge-success">Active</label>
																		}
																		@if (item.IsDeleted == true)
																		{
																			<label id="lblIsActive" class="badge badge-danger">No Active</label>
																		}

																	</td>
																	<td>
																		<a id="lnkEdit" asp-action="Edit" asp-route-id="@item.Id" class="badge badge-primary"><i class="ti-pencil"></i></a>
																		<a id="lnkDelete" asp-action="Delete" asp-route-id="@item.Id" class="badge bg-danger" onclick="return confirm('Do you want delete this Product?');"><i class="ti-trash"></i></a>
																	</td>
																</tr>
															}
														
													</tbody>
												</table>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
