@model CustomerCart
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(Model !=null){
<div class="cart-section mt-100 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="cart-table-wrap">
					<table class="cart-table">
						<thead class="cart-table-head">
							<tr class="table-head-row">
								<th class="product-remove"></th>
								<th class="product-image">Product Image</th>
								<th class="product-name">Name</th>
								<th class="product-price">Price</th>
								<th class="product-quantity">Quantity</th>
								<th class="product-total">Total</th>
							</tr>
						</thead>
						<tbody>
							@foreach(var item in Model.CartItems)
							{
							<tr class="table-body-row">
								<td class="product-remove"><a asp-action="Delete" asp-controller="Cart" asp-route-id="@item.Id"><i class="far fa-window-close"></i></a></td>
								<td class="product-image"><img src="~/Files/menuItem/@item.ImageUrl" alt=""></td>
								<td class="product-name">@item.Name</td>
								<td class="product-price">$@item.Price</td>
										<td>
											<div class="d-flex align-items-center justify-content-center"!isBasket">
												<i class="fa fa-minus-circle text-warning mr-2"
												style="cursor: pointer; font-size: 1.8em;"
												   onclick="updateQuantity(@item.Id,@item.Price,-1, this)"></i>
												<span class="font-weight-bold quantity" style="font-size: 1em;">
													@item.Quantity
												</span>
												<i  class="fa fa-plus-circle text-warning mx-2" 
												style="cursor: pointer; font-size: 1.8em;"
												   onclick="updateQuantity(@item.Id,@item.Price,1, this)"></i>
											</div>
										</td>
								<td class="product-total total">$@((item.Quantity * item.Price).ToString("0.00"))</td>
							</tr>
							}
							
						</tbody>
					</table>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="total-section">
					<table class="total-table">
						<thead class="total-table-head">
							<tr class="table-total-row">
								<th>Total</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>
							<tr class="total-data">
								<td><strong>Subtotal: </strong></td>
								<td>$500</td>
							</tr>
							<tr class="total-data">
								<td><strong>Shipping: </strong></td>
								<td>$45</td>
							</tr>
							<tr class="total-data">
								<td><strong>Total: </strong></td>
								<td>$545</td>
							</tr>
						</tbody>
					</table>
					<div class="cart-buttons">
						<a asp-action="Menu" asp-controller="Home" class="boxed-btn">Update Cart</a>
						<a asp-action="Index" asp-controller="Order" class="boxed-btn black">Check Out</a>
					</div>
				</div>

				
			</div>
		</div>
	</div>
</div>
}
else{
	<div>
		<h1 btn btn-warning>No Cart Found</h1>
	</div>
}

<script>
	function updateQuantity(itemId,price, change, element) {
		const parentDiv = element.parentElement;
		const quantitySpan = parentDiv.querySelector(".quantity");
		 const total=document.querySelector(".total")

		let currentQuantity = parseInt(quantitySpan.textContent);
		let newQuantity = currentQuantity + change;

		if (newQuantity < 1) newQuantity = 1;
		quantitySpan.textContent = newQuantity;
		total.textContent="$"+((newQuantity * price).ToString("0.00"));

		$.ajax({
			url: '/Cart/UpdateQuantity', 
			type: 'POST',
			data: { id: itemId, quantity: newQuantity},
			success: function (response) {
				console.log("Quantity updated successfully!");

			},
			error: function () {
				alert("Ronge!");
			}
		});
	}
</script>
